
.banner{
    background: var(--theme-color);
    color: #fff;
    font-size: 1.6em;
    text-align: var(--text-center);
    padding: 100px 0 160px;
}


@media screen and (max-width: 375px){
    
    .banner{
        background: var(--theme-phone);
    }
    
}