
footer .titler{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 760px;
    margin: 0 auto;
    grid-gap: 40px;
}

footer .titel{
    text-align: var(--text-center);
    color: var(--text-color);
    line-height: 2em;
    font-size: 0.9em
}


@media screen and (max-width: 375px){

    footer .titler{
        display: inherit;
        padding-bottom: 30px;
        max-width: 300px;
    }

    footer .titel{
        color: #534f4f;
    }
    
    
}