
/* Base Style */

h1, h2, h3{
    font-weight: normal;
}

body{
    margin: 0;
    font-family: Verdana;
}


@media screen and (max-width: 375px){

    body{
        background: rgb(177, 173, 137);
    }

}